.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupCardListContainer {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.header-create-group-button {
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 60px;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  width: 250px;
  right: 0px;
  transition: background-color 0.3s ease;
}

.create-group-button:hover {
  background-color: #555;
}
