.memory-detail-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.memory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.memory-header .actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.memory-header .actions .edit-link,
.memory-header .actions .delete-link {
  color: #777; /* 원하는 텍스트 색상 */
  font-size: 16px; /* 텍스트 크기 */
  cursor: pointer; /* 클릭 가능한 링크로 표시 */
  text-decoration: none; /* 밑줄 제거 */
}

.memory-header .actions .edit-link:hover,
.memory-header .actions .delete-link:hover {
  color: #333; /* 호버 시 색상 변경 */
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.memory-header-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.memory-header-right {
  margin-top: 110px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.memory-header .nickname {
  font-size: 18px;
  color: #333;
  margin-bottom: 0;
  margin-top: 100px;
}

.memory-header .pipe {
  margin: 0 8px;
  color: #b8b8b8;
}

.memory-header .public-status {
  color: #b8b8b8;
}

.memory-header h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.tags {
  font-size: 18px;
  color: #b7b7b7;
  margin-bottom: 40px;
}

.memory-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #282828;
  font-size: 18px;
  margin-bottom: 20px;
}

.memory-meta-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.memory-meta-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.memory-meta .memory-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.memory-meta .memory-icons img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.memory-meta .memory-icons span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #777;
  height: 40px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.memory-detail-page img {
  width: 500px; /* Adjusted width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.memory-info {
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
  font-size: 18px;
}

.comments-section {
  margin-top: 40px;
}

.comments-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #282828;
  text-align: left;
}

.comment {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between; /* This aligns content to both sides */
  align-items: center; /* Aligns items vertically in the center */
}

.comment p {
  margin: 6px 0;
  font-size: 16px;
  color: #555;
}

.comment .comment-text {
  flex-grow: 1; /* Ensures the text takes up the available space */
  color: #333;
}

.comment .comment-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the icons */
}

.comment-actions img {
  width: 18px; /* Adjust the size as needed */
  height: 18px;
  margin-top: 35px;
  cursor: pointer;
}

.comment-nickname {
  color: #282828; /* Darker gray */
  font-weight: bold; /* Bold font */
}

.comment-date {
  color: #b7b7b7; /* Lighter gray */
  margin-left: 20px; /* Space between nickname and date */
}

.comment p:first-child {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.comment p:last-child {
  font-size: 16px;
  margin-top: 10px;
  color: #282828;
}

.memory-divider {
  border-bottom: 1px solid #e7e7e7; /* Light gray divider */
  margin: 30px 0; /* Add some space above and below */
  margin-bottom: 100px;
}
.memory-divider2 {
  border-bottom: 1px solid #cccaca; /* Light gray divider */

  margin-bottom: 20px;
}
.comment-button {
  display: block;
  width: 400px;
  margin: 100px auto;
  margin-top: 120px;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.comment-button:hover {
  background-color: #555;
}
.no-comments {
  text-align: center;
  color: #b8b8b8;
  margin: 120px;
}

.no-comments p {
  margin: 5px 0;
}

.no-comments .primary-message {
  font-size: 18px;
  font-weight: bold;
  color: #8c8c8c; /* 더 진한 색상으로 설정 */
}

.no-comments .secondary-message {
  font-size: 14px;
  color: #b7b7b7; /* 더 연한 색상으로 설정 */
  margin-top: 30px;
}
