.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.commentedit-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  max-width: 300px;
  width: 100%;
  position: relative;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px !important;
  font-weight: bold;
  margin-top: 20px !important;
}

.commentedit-form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.close-button {
  position: absolute;
  top: 3px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #282828;
}
/* 에러메시지 추가 */
.error-message {
  color: black;
  margin-top: 10px;
  font-size: 0.875rem;
}
