/* src/components/CreateGroupButton.css */
.create-group-button {
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.create-group-button:hover {
  background-color: #555;
}
/* 헤더에 사용되는 버튼 스타일 */
.header-create-group-button {
  padding: 10px 60px;
  font-size: 1.2em;
}

/* 빈 상태에서 사용되는 버튼 스타일 */
.empty-create-group-button {
  padding: 10px 120px;
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.empty-create-group-button:hover {
  background-color: #555;
}
