.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 150px;
  height: auto;
}
