.public-memory-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.memory-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.memory-card:hover {
  transform: translateY(-5px);
}

.memory-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.memory-info h2 {
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.memory-info p {
  font-size: 0.85em;
  color: #666;
  margin: 4px 0;
}

.memory-info .moment {
  font-size: 0.9em;
  color: #999;
  flex-grow: 1;
}

.memory-info .nickname {
  font-size: 0.8em;
  color: #333;
}

.memory-info .pipe {
  color: #b8b8b8;
  margin: 0 5px;
}

.memory-info .public-status {
  color: #b8b8b8;
}

.memory-info .like-comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #666;
  margin-top: 10px;
}

.memory-info .like-comment {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.memory-info .like-comment span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.memory-info .like-comment img {
  margin-right: 4px;
  margin-top: 10px;
}

.memory-info .tags {
  font-size: 0.8em;
  color: #b8b8b8;
  margin-top: 8px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.empty-state img {
  max-width: 200px;
  margin-bottom: 10px;
}

.empty-state button {
  padding: 10px 120px;
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
